<div ng-controller="MenuController">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a ui-sref="fileupload" ui-sref-active >Upload File</a></li>
                <li><a ui-sref="player({file:fileName})">Player</a></li>
                <li><a ui-sref="game({file:fileName})">Games</a></li>
                <li><a ui-sref="winloss({file:fileName})">Win/Loss</a></li>
                <li><a ui-sref="report">Report</a></li>
            </ul>
        </div>
    </div>
</div>

