<div ng-controller="MenuController">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a ui-sref="fileupload">Upload File</a></li>
                <li><a ui-sref="player({file:testXyz})">Player</a></li>
                <li><a ui-sref="game({file:testXyz})">Games</a></li>
                <li><a ui-sref="winloss({file:testXyz})">Win/Loss</a></li>
                <li><a ui-sref="report">Report</a></li>
            </ul>
        </div>
    </nav>

</div>

